mixin form-control(id, label)
    div(class="form-group", attributes)
        label.control-label(for="#{id}")= label
        block

mixin form-control-unlabeled()
    div(class="form-group", attributes)
        block

mixin input-text(id, label, placeholder)
    +form-control(id, label)
        input.form-control(type="text", id="#{id}", name="#{id}", placeholder="#{placeholder}", attributes)

mixin input-password(id, label, placeholder)
    +form-control(id, label)
        input.form-control(type="password", id="#{id}", name="#{id}", placeholder="#{placeholder}", attributes)

mixin input-textarea(id, label, placeholder, rows)
    +form-control(id, label)
        textarea.form-control(id="#{id}", name="#{id}", rows="#{rows}", placeholder="#{placeholder}", attributes)

mixin input-number(id, label, placeholder)
    +form-control(id, label)
        input.form-control(type="number", id="#{id}", name="#{id}", placeholder="#{placeholder}", attributes)

mixin input-email(id, label, placeholder)
    +form-control(id, label)
        input.form-control(type="email", id="#{id}", name="#{id}", placeholder="#{placeholder}", attributes)

mixin input-checkbox(id, label, name)
    +form-control(id, label)
        div.checkbox
            label
                input(type="checkbox", name="#{id}", attributes)
                span= name

mixin input-radio(id, label, entries)
    +form-control(id, label)
        each entry in entries
            div.radio
                label
                    input(type="radio", name="#{id}", value="#{entry[0]}", attributes)
                    span= entry[1]

mixin input-submit(label)
    +form-control-unlabeled
        button.btn(type="submit", attributes)= label

mixin form-control-bind(id, label, value)
    div(class="form-group", data-bind="validationElement: #{value}")
        label.control-label(for="#{id}")= label
        block

mixin input-text-bind(id, label, placeholder, value)
    +form-control-bind(id, label, value)
        input.form-control(type="text", id="#{id}", name="#{id}", placeholder="#{placeholder}", data-bind="value: #{value}", attributes)
        p.control-label(data-bind="validationMessage: #{value}")

mixin input-textarea-bind(id, label, placeholder, rows, value)
    +form-control-bind(id, label, value)
        textarea.form-control(id="#{id}", name="#{id}", rows="#{rows}", placeholder="#{placeholder}", data-bind="value: #{value}", attributes)
        p.control-label(data-bind="validationMessage: #{value}")

mixin input-date-bind(id, label, placeholder, value)
    +form-control-bind(id, label, value)
        div.input-group
            input.form-control(type="text", id="#{id}", name="#{id}", placeholder="#{placeholder}", data-bind="datevalue: #{value}", attributes)
            span.input-group-btn
                button.btn.btn-default(type="button", for="#{id}")
                    span.glyphicon.glyphicon-calendar
        p.control-label(data-bind="validationMessage: #{value}")

mixin input-select-bind(id, label, value, options)
    +form-control-bind(id, label, value)
        select(id="#{id}", data-bind="selectize: #{value}, selectizeOptions: #{options}")
        p.control-label(data-bind="validationMessage: #{value}")

mixin input-textmulti-bind(id, label, placeholder, value)
    +form-control-bind(id, label, value)
        input.form-control(type="text", id="#{id}", name="#{id}", placeholder="#{placeholder}", data-bind="selectizeMultiText: #{value}", attributes)
        p.control-label(data-bind="validationMessage: #{value}")
